table {
      border-collapse: collapse;
      width: fit-content;
      margin-top: 10px;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    td:nth-child(4) {
      display: flex;
    }

    th {
      background-color: #f2f2f2;
    }